* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Vollkorn', Georgia, serif;
}

img {
    display: block;
    width: 100%;
    border-radius: 5px;
}


/* ALL GRID */

.strutucture {
    display: grid;
    grid-template-columns: minmax(160px, 1fr) 3fr 300px;
    grid-template-areas: "header header header" "sidenav content ads" "footer footer footer";
}


/* HEADER */

.header {
    grid-area: header;
    background: linear-gradient(135deg, #8844ee, #B07DFB);
    padding: 30px;
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
}

.logo {
    max-width: 200px;
}

.header nav ul {
    display: flex;
    flex-wrap: wrap;
}

.header nav a {
    display: block;
    padding: 10px;
    color: #FFF;
    font-size: 1.125em;
    background: rgba(0, 0, 0, .1);
    border-radius: 5px;
    transition: 0.1s;
}

.header nav a:hover {
    background: rgba(0, 0, 0, .5);
}

.header li+li {
    margin-left: 30px;
}


/* END HEADER */


/* SIDENAV */

.sidenav {
    grid-area: sidenav;
    background: #fafbfc;
    padding: 30px;
}

.sidenav li a {
    display: block;
    min-width: 60px;
    max-width: 100px;
    margin: 0 auto 30px auto;
    background: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 5px 5px 15px 0px rgba(44, 44, 44, 0.15);
    transition: .1s ease-in-out;
}

.sidenav li a:hover {
    background: #B07DFB;
}


/* END SIDENAV */


/* CONTENT */

.content {
    grid-area: content;
    max-width: 900px;
    margin: 0 auto;
    padding: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
}

.col__wide {
    grid-column: 1 / -1;
}

.img__1 {
    grid-row: span 2;
    align-self: end;
}

.img__2 {
    align-self: end;
}


/* ESTILOS CONTENT */

p {
    font-size: 1.12em;
    line-height: 1.6;
    letter-spacing: -0.005em;
    color: rgba(0, 0, 0, .7);
}

.infos p+p {
    margin-top: 30px;
}


/* TÃTULO */

.title {
    color: #B07DFB;
}

.title h1 {
    font-size: 3.7em;
    line-height: 1;
    font-weight: 700;
}

.title span {
    font-size: 0.875em;
    font-style: italic;
}


/* FEATURES */

.features {
    display: flex;
    align-items: flex-start;
}

.features>div {
    width: 80px;
    text-align: center;
    background: linear-gradient(135deg, #8844ee, #B07DFB);
    border-radius: 5px;
    box-shadow: 5px 5px 15px 0px rgba(44, 44, 44, 0.15);
    position: relative;
}

.features>div:first-child {
    margin-right: 30px;
}

.features span {
    display: block;
    color: #B07DFB;
}

.number {
    color: #B07DFB;
    font-size: 3em;
    line-height: 1;
    margin: 10px auto;
}

.weight,
.age {
    background: white;
    border-radius: 0 0 5px 5px;
    padding: 5px 0;
    position: relative;
    top: 2px;
}

.destaque {
    font-size: 0.875em;
    color: #B07DFB;
    max-width: 16em;
}

.quote,
.atributes {
    padding: 30px;
    border-radius: 5px;
    box-shadow: 5px 5px 15px 0px rgba(44, 44, 44, 0.15);
    background: linear-gradient(135deg, #8844ee, #B07DFB);
}

.quote p {
    font-size: 1.5em;
    font-style: italic;
    text-align: center;
    max-width: 500px;
    margin: 0 auto;
    color: white;
}


/* END CONTENT */


/* ADS */

.ads {
    grid-area: ads;
    background: #fafbfc;
    display: grid;
    align-content: start;
    padding: 30px;
    grid-gap: 30px;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

.ads img {
    border-radius: 5px;
    min-width: 300px;
    max-width: 300px;
}


/* END ADS */


/* FOOTER */

.footer {
    grid-area: footer;
    background: linear-gradient(135deg, #8844ee, #B07DFB);
}

.footer p {}


/*END FOOTER */


/* END GRID GERAL